<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Order Items</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="">
    <ion-item-group class="ion-margin">
        <ion-button [routerLink]="['/orders', orderId, 'orderItems', 'create']">
            Create New Order Item
        </ion-button>
    </ion-item-group>

    <ion-col size="6" offset="6" *ngIf="!orderItems">
        <ion-spinner></ion-spinner>
    </ion-col>

    <ngx-datatable
            *ngIf="orderItems"
            [rows]="orderItems | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
            style="overflow: hidden"

    >
        <!--    Comment    -->
        <ngx-datatable-column
                name="Comment"
                prop="orderItemComment"
                [cellClass]="getCommentClass"
                *ngIf="isDesktop"
        >
        </ngx-datatable-column>

        <!--    Code    -->
        <ngx-datatable-column
                name="Code"
                prop="orderItemCode"
        >
        </ngx-datatable-column>

        <!--    Word    -->
        <ngx-datatable-column
                name="Word"
                prop="orderItemWord"
                [cellClass]="getFontClass"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span>
                {{ row.orderItemWord }}
                </span>
            </ng-template>
        </ngx-datatable-column>

        <!--    Font    -->
        <ngx-datatable-column
                name="Font"
                prop="orderItemFont"
                [cellClass]=""
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>
                {{ row.orderItemFont }}
                </span>
            </ng-template>
        </ngx-datatable-column>

        <!--    Image    -->
        <ngx-datatable-column
                name="Image"
                prop="orderItemImageUrl"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <img [src]="row.orderItemImageUrl">
            </ng-template>
        </ngx-datatable-column>

        <!--    Quantity    -->
        <ngx-datatable-column
                name="Quantity"
                prop="orderItemQuantity"
                [cellClass]="getQuantityClass"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span>{{ row.orderItemQuantity }}</span>
            </ng-template>
        </ngx-datatable-column>

        <!--    Color/ Ring Size    -->
        <ngx-datatable-column
                name="Color/ Ring Size"
                prop="product.productName"
                [cellClass]="getRingColorClass"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span *ngIf="row.product?.productType === 'Nhẫn'">
                  <strong>{{ row.product.productName }}</strong><br>
                  {{ row.orderItemColor }} <br>
                Ring Size: {{ row.orderItemRingSizeUS }} US
                </span>
            </ng-template>
        </ngx-datatable-column>

        <!--    Color/ Necklace Size    -->
        <ngx-datatable-column
                name="Color/ Necklace Size"
                prop="product.productName"
                [cellClass]="getNecklaceColorClass">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <span *ngIf="row.product?.productType !== 'Nhẫn'">
                  <strong>{{ row.product?.productName }} </strong><br>
                  {{ row.orderItemColor }} <br>
                  <span *ngIf="row.orderItemLengthInch">Size: {{ row.orderItemLengthInch }} inches</span>
                </span>
            </ng-template>
        </ngx-datatable-column>

        <!-- Customer -->
        <ngx-datatable-column
                name="Customer"
                prop="customer"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size=""
                        [routerLink]="['/customers', row.customer.id]"
                >
                    {{ row.customer.firstName }} <br>
                    {{ row.customer.lastName }} <br>
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Edit    -->
        <ngx-datatable-column
                name="Edit"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="warning"
                        [routerLink]="['/orders', orderId, 'orderItems', row.id]"
                >
                    Edit
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Delete    -->
        <ngx-datatable-column
                name="Delete"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        (click)="deleteOrderItem(row)"
                        color="danger"
                >
                    Delete
                </ion-button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</ion-content>
