<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title
                *ngIf="order | async"
        >
            {{ (order | async)?.orderCode }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<!--  Main Table Content for Desktop  -->
<ion-content
        *ngIf="isDesktop"
>
    <section class="container">
        <ion-button
                [routerLink]="['/orders', orderId, 'orderItems', 'create']"
        >
            <ion-icon name="add-circle-outline"></ion-icon>
            New Order Item
        </ion-button>

        <ion-grid fixed>
            <ion-row>
                <ion-col
                        sizeXl="6"
                        offsetXl="3"
                        sizeLg="6"
                        offsetLg="3"
                        sizeMd="8"
                        offsetMd="2"
                >
                    <ion-label>Tips: <br>
                        <p>Double click each cell of Comment or Status to Edit</p>
                        <p>Click Column's Header to sort</p>
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ngx-datatable
            #table
            [rows]="orderItemsDesktop$ | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
            style="overflow: hidden"
            [rowClass]="getRowClass"
        >
            <!-- Status -->
            <ngx-datatable-column
                    name="Status"
                    prop="orderItemStatus"
            >
                <ng-template
                        let-row="row"
                        let-value="value"
                        let-rowIndex="rowIndex"
                        ngx-datatable-cell-template

                >
                    <span
                            *ngIf="!editingOrderItem[rowIndex + '-orderItemStatus']"
                            title="Double Click to edit"
                            (dblclick)="editingOrderItem[rowIndex + '-orderItemStatus'] = true"
                    >
                        {{ row.orderItemStatus }}
                    </span>

                    <ion-select
                            class="ion-no-margin ion-no-padding"
                            interface="action-sheet"
                            *ngIf="editingOrderItem[rowIndex + '-orderItemStatus']"
                            (mouseenter)="startEditingInputSelect(orderItemStatus)"
                            [value]="row.orderItemStatus"
                            #orderItemStatus
                            (ionChange)="updateOrderItem($event, 'orderItemStatus', rowIndex, row)"
                            (ionCancel)="editingOrderItem[rowIndex + '-orderItemStatus'] = false"
                    >
                        <ion-select-option
                                *ngFor="let status of statuses"
                                [value]="status"
                                #selectOption
                        >
                            {{ status }}
                        </ion-select-option>
                    </ion-select>
                </ng-template>
            </ngx-datatable-column>

            <!--    Comment    -->
            <ngx-datatable-column
                    name="Comment"
                    prop="orderItemComment"
                    [cellClass]="getCommentClassCell"
                    *ngIf="isDesktop"
            >
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template
                             class="ion-no-padding"
                >
                    <span
                            *ngIf="!editingOrderItem[rowIndex + '-orderItemComment']"
                            title="Double Click to edit"
                            (dblclick)="editingOrderItem[rowIndex + '-orderItemComment'] = true"
                    >
                        {{ row.orderItemComment }}
                    </span>

                    <input
                            *ngIf="editingOrderItem[rowIndex + '-orderItemComment']"
                            type="text"
                            (blur)="updateOrderItem($event,'orderItemComment',rowIndex,row)"
                            [value]="value"
                            (mouseenter)="startEditingInputText(orderItemCommentInput)"
                            (keyup.enter)="updateOrderItem($event,'orderItemComment',rowIndex,row)"
                            #orderItemCommentInput
                    >
                </ng-template>
            </ngx-datatable-column>

            <!--    Code    -->
            <ngx-datatable-column
                    name="Code"
                    prop="orderItemCode"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            color="dark"
                            [routerLink]="['/orders', orderId, 'orderItems', row.id]"
                    >
                        {{ row.orderItemCode }}
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Word    -->
            <ngx-datatable-column
                    name="Word"
                    prop="orderItemWord"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template style="overflow: hidden">
                <span *ngFor="let word of row.orderItemWords; let fontIndex = index"
                      [ngClass]="getFontClassCellSpan(row, fontIndex)"
                >
                        {{ word }}
                </span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Font    -->
            <ngx-datatable-column
                    name="Font"
                    prop="orderItemFont"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngFor="let font of row.orderItemFonts; let fontIndex = index"
                >
                        {{ font }}
                </span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Image    -->
            <ngx-datatable-column
                    name="Image"
                    prop="orderItemImageUrl"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template style="overflow: hidden">
                    <img
                            *ngFor="let imageUrl of row.orderItemImageUrls; let imageIndex = index"
                            [src]="imageUrl"
                    >
                </ng-template>
            </ngx-datatable-column>

            <!--    Quantity    -->
            <ngx-datatable-column
                    name="Quantity"
                    prop="orderItemQuantity"
                    [cellClass]="getQuantityClassCell"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{ row.orderItemQuantity }}</span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Product    -->
            <ngx-datatable-column
                    name="Product"
                    prop="product.productName"
                    [cellClass]="getColorClassCell">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <span *ngIf="row.product?.productType !== 'Nhẫn'">
                  <strong>{{ row.product?.productName }} </strong><br>
                    {{ row.orderItemColor }} <br>
                  <span *ngIf="row.orderItemLengthInch">Size: {{ row.orderItemLengthInch }} inches</span>
                </span>

                    <span *ngIf="row.product?.productType === 'Nhẫn'">
                  <strong>{{ row.product.productName }}</strong><br>
                        {{ row.orderItemColor }} <br>
                Ring Size: {{ row.orderItemRingSizeUS }} US
                </span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Customer    -->
            <ngx-datatable-column
                    name="Customer"
                    prop="customer"
                    *ngIf="!(user$ | async).customClaims.DESIGNER"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span>{{ row.customer }}</span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Delete    -->
            <ngx-datatable-column
                    name="Delete"
                    [sortable]="false"
                    *ngIf="!(user$ | async).customClaims.DESIGNER"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size="small"
                            (click)="alertService.presentDeleteConfirm(row)"
                            color="danger"
                    >
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

        <ion-item-group
                class="ion-margin"
        >
            <ion-button
                    [routerLink]="['/orders', orderId, 'orderItems', 'create']"
            >
                <ion-icon name="add-circle-outline"></ion-icon>
                New Order Item
            </ion-button>
        </ion-item-group>

        <ion-col
                *ngIf="table.rowCount === 0"
                size="6"
                offset="5"
        >
            <ion-spinner class="spinner-loading"></ion-spinner>
        </ion-col>

    </section>
</ion-content>


<!--Cards-->
<ion-content
        *ngIf="isMobile && (orderItemsMobile$[0] | async)"
>

    <ion-item-group class="ion-margin-start ion-margin-top">
        <ion-button [routerLink]="['/orders', orderId, 'orderItems', 'create']">
            New Order Item
        </ion-button>
    </ion-item-group>

    <!--      Cards as Orders      -->
    <ion-grid fixed>
        <ion-row
                *ngFor="let orderItems of orderItemsMobile$"
        >
            <ion-col
                    sizeXl="3"
                    sizeLg="4"
                    sizeMd="6"
                    *ngFor="let orderItem of orderItems | async"
            >
                <ion-card class="ion-no-margin ion-no-padding">
                    <section>
                        <ion-img
                                *ngIf="orderItem.orderItemImageUrl"
                                [src]="orderItem.orderItemImageUrl"
                        ></ion-img>

                        <ion-card-header class="ion-no-padding ion-no-margin">
                            <ion-card-title class="ion-text-center">
                                <ion-button
                                        color="tertiary"
                                        [routerLink]="['/orders', orderId, 'orderItems', orderItem.id]"
                                        class="ion-text-wrap"
                                >
                                    <ion-icon name="pricetag-outline" class="ion-margin-end"></ion-icon>
                                    {{ orderItem.orderItemCode }}
                                </ion-button>
                            </ion-card-title>
                        </ion-card-header>

                        <ion-card-content class="ion-no-margin ion-no-padding">
                            <ion-list>
                                <ion-item>
                                    <ion-label color="primary">Comment</ion-label>
                                    <ion-label slot="end"
                                               class="ion-text-wrap">{{ orderItem.orderItemComment }}</ion-label>
                                </ion-item>

                                <ion-item>
                                    <ion-label color="primary">Product</ion-label>
                                    <ion-label slot="end"
                                               [ngClass]="getColorClass(orderItem)"
                                               class="ion-text-wrap"
                                    >
                                        {{ orderItem.product.productName }}
                                    </ion-label>
                                </ion-item>

                                <ion-item>
                                    <ion-label color="primary">Word</ion-label>
                                    <ion-text slot="end"
                                              [ngClass]="getFontClass(orderItem)"
                                    >{{ orderItem.orderItemWord }}</ion-text>
                                </ion-item>

                                <ion-item>
                                    <ion-label color="primary">Font</ion-label>
                                    <ion-label slot="end">{{ orderItem.orderItemFont }}</ion-label>
                                </ion-item>

                                <ion-item>
                                    <ion-label color="primary">Quantity</ion-label>
                                    <ion-label slot="end">{{ orderItem.orderItemQuantity }}</ion-label>
                                </ion-item>

                                <!--                                <ion-item>-->
                                <!--                                    <ion-label color="primary">Customer</ion-label>-->
                                <!--                                    <ion-label slot="end">-->
                                <!--                                        <ion-button-->
                                <!--                                                size=""-->
                                <!--                                                [routerLink]="['/customers', orderItem.customer.id]"-->
                                <!--                                        >-->
                                <!--                                            {{ orderItem.customer.firstName }} <br>-->
                                <!--                                            {{ orderItem.customer.lastName }} <br>-->
                                <!--                                        </ion-button>-->
                                <!--                                    </ion-label>-->
                                <!--                                </ion-item>-->

                                <ion-item *ngIf="orderItem.orderItemRingSizeUS">
                                    <ion-label color="primary">Ring Size US</ion-label>
                                    <ion-label slot="end">{{ orderItem.orderItemRingSizeUS }}</ion-label>
                                </ion-item>

                                <ion-item *ngIf="orderItem.orderItemLengthInch">
                                    <ion-label color="primary">Length Inch</ion-label>
                                    <ion-label slot="end">{{ orderItem.orderItemLengthInch }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </section>

                    <section>
                        <ion-item>
                            <ion-button
                                    [routerLink]="['/orders', orderId, 'orderItems', orderItem.id, 'edit']"
                                    color="secondary"
                            >
                                <ion-icon name="settings-outline" class="ion-margin-end"></ion-icon>
                                Edit
                            </ion-button>

                            <ion-button
                                    (click)="alertService.presentDeleteConfirm(orderItem)"
                                    color="danger"
                                    slot="end"
                            >
                                <ion-icon name="trash-bin-outline" class="ion-margin-end"></ion-icon>
                                Delete
                            </ion-button>
                        </ion-item>
                    </section>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-footer style="height: 10vh" #footer>
    </ion-footer>
</ion-content>

<!-- Skeleton screen -->
<ion-content *ngIf="(isMobile && !(orderItemsMobile$[0] | async))">
    <ion-card *ngFor="let skeleton of skeletons">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

