<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="isCreated">Create Order Item</ion-title>
        <ion-title *ngIf="isUpdated">Edit Order Item</ion-title>
        <ion-title *ngIf="isDetailed">Order Item's Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="6"
                    offsetXl="3"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >
                <ion-button [routerLink]="['/orders', this.orderId, 'orderItems']">
                    To Order Items
                </ion-button>
                <ion-button
                        color="tertiary"
                        *ngIf="isDetailed && orderItem"
                        [routerLink]="['/orders', orderId, 'orderItems', orderItem.id, 'edit']"
                >
                    <ion-icon name="settings-outline"></ion-icon>
                    Edit
                </ion-button>

                <!--        Reactive Form        -->
                <form
                        [formGroup]="validationForm"
                        *ngIf="orderItem"
                >
                    <ion-item-divider>
                        <ion-label *ngIf="!isDetailed">Please fill in information for the Order Item</ion-label>
                    </ion-item-divider>

                    <!-- Order -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Order</ion-label>
                            <!--            Create                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="order"
                                    *ngIf="isCreated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option [value]="(this.order$ | async)">
                                    {{ (this.order$ | async)?.orderCode }}
                                </ion-select-option>
                            </ion-select>

                            <!--            Update                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="order"
                                    *ngIf="isUpdated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option [value]="orderItem.order">
                                    {{ orderItem.order.orderCode }}
                                </ion-select-option>
                            </ion-select>

                            <!--             Detail               -->
                            <ion-label *ngIf="isDetailed">{{ orderItem.order.orderCode }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Order Item Code   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Order Item Code</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder=""
                                    formControlName="orderItemCode"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemCode }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Status   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Status</ion-label>
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="orderItemStatus"
                                    *ngIf="!isDetailed"
                            >
                                <ion-select-option
                                        *ngFor="let status of statuses"
                                        [value]="status"
                                >{{ status }}</ion-select-option>
                            </ion-select>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemStatus }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!-- Customer -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Customer</ion-label>
                            <!--            Create                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="customer"
                                    *ngIf="isCreated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option
                                        *ngFor="let customer of customers$ | async"
                                        [value]="customer"
                                >
                                    {{ customer.firstName }} {{ customer.lastName }} <br>
                                    {{ customer.number }} {{ customer.street }} <br>
                                    {{ customer.city }}, {{ customer.state }} {{ customer.postal }}<br>
                                    {{ customer.country }}
                                </ion-select-option>
                            </ion-select>

                            <!--            Update                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="customer"
                                    *ngIf="isUpdated"
                                    [compareWith]="compareWithFn"
                                    [selectedText]="orderItem.customer.firstName + ' ' + orderItem.customer.lastName"
                            >
                                <ion-select-option
                                        *ngFor="let customer of customers$ | async"
                                        [value]="customer"
                                >
                                    {{ customer.firstName }} {{ customer.lastName }} <br>
                                    {{ customer.number }} {{ customer.street }} <br>
                                    {{ customer.city }}, {{ customer.state }} {{ customer.postal }}<br>
                                    {{ customer.country }}
                                </ion-select-option>
                            </ion-select>

                            <!--            Detail                -->
                            <ion-label *ngIf="isDetailed">
                                {{ this.orderItem.customer.firstName }} {{ this.orderItem.customer.lastName }} <br>
                                {{ this.orderItem.customer.number }} {{ this.orderItem.customer.street }} <br>
                                {{ this.orderItem.customer.city }}
                                , {{ this.orderItem.customer.state }} {{ this.orderItem.customer.postal }}<br>
                                {{ this.orderItem.customer.country }}
                            </ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!-- Product -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Product</ion-label>
                            <!--            Create                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="product"
                                    *ngIf="isCreated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option
                                        *ngFor="let product of products$ | async"
                                        [value]="product"
                                >
                                    {{ product.productName }}
                                </ion-select-option>
                            </ion-select>

                            <!--            Update                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="product"
                                    *ngIf="isUpdated"
                                    [compareWith]="compareWithFn"
                                    [selectedText]="orderItem.product.productName"
                            >
                                <ion-select-option
                                        *ngFor="let product of products$ | async"
                                        [value]="product"
                                >
                                    {{ product.productName }}
                                </ion-select-option>
                            </ion-select>

                            <!--            Detail                -->
                            <ion-label *ngIf="isDetailed">{{ orderItem.product.productName }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Comment   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Comment</ion-label>
                            <ion-textarea
                                    type="text"
                                    placeholder=""
                                    formControlName="orderItemComment"
                                    *ngIf="!isDetailed"
                            ></ion-textarea>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemComment }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Font   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Font</ion-label>
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="orderItemFont"
                                    *ngIf="!isDetailed"
                            >
                                <ion-select-option
                                        *ngFor="let font of fontNames"
                                        [value]="font"
                                >{{ font }}</ion-select-option>
                            </ion-select>

                            <ion-label
                                    *ngIf="isDetailed"
                            >{{ orderItem.orderItemFont }}
                            </ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Word   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Word</ion-label>
                            <ion-input
                                    type="text"
                                    formControlName="orderItemWord"
                                    [ngClass]="getFontClass()"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-input
                                    slot="end"
                                    type="text"
                                    *ngIf="isDetailed"
                                    [ngClass]="getFontClass()"
                            >{{ orderItem.orderItemWord }}
                            </ion-input>
                        </ion-item>
                    </ion-item-group>

                    <!--    Quantity   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Quantity</ion-label>
                            <ion-input
                                    type="number"
                                    placeholder=""
                                    formControlName="orderItemQuantity"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemQuantity }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Ring Size US  -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Ring Size US</ion-label>
                            <ion-input
                                    type="number"
                                    placeholder=""
                                    formControlName="orderItemRingSizeUS"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemRingSizeUS }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Length Inch   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Length Inch</ion-label>
                            <ion-input
                                    type="number"
                                    placeholder=""
                                    formControlName="orderItemLengthInch"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemLengthInch }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Color   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Color</ion-label>
                            <ion-select
                                    *ngIf="!isDetailed"
                                    interface="action-sheet"
                                    formControlName="orderItemColor"
                                    [ngClass]="getColorClass()"
                            >
                                <ion-select-option
                                        *ngFor="let color of colors"
                                        [value]="color"
                                >{{ color }}</ion-select-option>
                            </ion-select>

                            <ion-label
                                    *ngIf="isDetailed"
                                    [ngClass]="getColorClass()"
                            >{{ orderItem.orderItemColor }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Image Upload    -->
                    <ion-item-group>
                        <ion-img
                                [src]="this.orderItem.orderItemImageUrl"
                                *ngIf="orderItem.orderItemImageUrl"
                        ></ion-img>
                    </ion-item-group>
                    <ion-item-group *ngIf="!isDetailed">
                        <ion-item>
                            <ion-label>Image</ion-label>
                            <ion-input
                                    type="file"
                                    slot="end"
                                    (change)="uploadOrderItemImage($event.target.files)"
                            ></ion-input>
                        </ion-item>
                    </ion-item-group>

                    <!--    Submit    -->
                    <ion-button
                            [disabled]="!validationForm.valid"
                            class="ion-margin-top"
                            (click)="submitHandler()"
                            type="submit"
                            expand="block"
                            *ngIf="!isDetailed"
                    >
                        Submit
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-footer style="height: 10vh">
    </ion-footer>
</ion-content>
