<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="isCreated">Create Order Item</ion-title>
        <ion-title *ngIf="isUpdated">Edit Order Item</ion-title>
        <ion-title *ngIf="isDetailed">Order Item's Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="6"
                    offsetXl="3"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >


                <ion-item-group class="ion-margin">
                    <ion-button [routerLink]="['/orders', this.orderId, 'orderItems']" color="dark">
                        To Order Items
                    </ion-button>

                    <ion-button
                            color="tertiary"
                            *ngIf="isDetailed && orderItem"
                            [routerLink]="['/orders', orderId, 'orderItems', orderItem.id, 'edit']"
                    >
                        <ion-icon name="settings-outline"></ion-icon>
                        Edit
                    </ion-button>

                    <ion-button
                            [routerLink]="['/orders', orderId, 'orderItems', 'create']"
                            *ngIf="!isCreated"
                    >
                        <ion-icon name="add-circle-outline"></ion-icon>
                        New
                    </ion-button>
                </ion-item-group>

                <!--        Reactive Form        -->
                <form
                        [formGroup]="validationForm"
                        *ngIf="orderItem"
                        (keydown.enter)="!submitButton.disabled ? submitHandler(submitButton) : null"
                >
                    <ion-item-divider>
                        <ion-label *ngIf="!isDetailed">Please fill in information for the Order Item</ion-label>
                    </ion-item-divider>

                    <!-- Order -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Order</ion-label>
                            <!--            Create                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="order"
                                    *ngIf="isCreated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option [value]="order">
                                    {{ order.orderCode }}
                                </ion-select-option>
                            </ion-select>

                            <ion-select
                                    interface="action-sheet"
                                    formControlName="order"
                                    *ngIf="isUpdated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option [value]="orderItem.order">
                                    {{ orderItem?.order?.orderCode }}
                                </ion-select-option>
                            </ion-select>

                            <ion-label *ngIf="isDetailed">{{ orderItem.order.orderCode }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Order Item Code   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Order Item Code</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder=""
                                    formControlName="orderItemCode"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemCode }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Status   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Status</ion-label>
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="orderItemStatus"
                                    *ngIf="!isDetailed"
                            >
                                <ion-select-option
                                        *ngFor="let status of statuses"
                                        [value]="status"
                                >
                                    {{ status }}
                                </ion-select-option>
                            </ion-select>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemStatus }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--        Customer            -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Customer</ion-label>
                            <ion-textarea
                                    [autoGrow]="true"
                                    type="text"
                                    formControlName="customer"
                                    *ngIf="!isDetailed"
                                    slot="end"
                            ></ion-textarea>

                            <ion-textarea
                                    [readonly]="isDetailed"
                                    slot="end"
                                    [autoGrow]="true"
                                    type="text"
                                    formControlName="customer"
                                    *ngIf="isDetailed"
                                    [value]="orderItem.customer"
                            ></ion-textarea>
                        </ion-item>
                    </ion-item-group>

                    <!-- Product -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Product</ion-label>
                            <!--            Create                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="product"
                                    *ngIf="isCreated"
                                    [compareWith]="compareWithFn"
                            >
                                <ion-select-option
                                        *ngFor="let product of products$ | async"
                                        [value]="product"
                                >
                                    {{ product.productName }}
                                </ion-select-option>
                            </ion-select>

                            <!--            Update                -->
                            <ion-select
                                    interface="action-sheet"
                                    formControlName="product"
                                    *ngIf="isUpdated"
                                    [compareWith]="compareWithFn"
                                    [selectedText]="orderItem.product.productName"
                            >
                                <ion-select-option
                                        *ngFor="let product of products$ | async"
                                        [value]="product"
                                >
                                    {{ product.productName }}
                                </ion-select-option>
                            </ion-select>

                            <!--            Detail                -->
                            <ion-label *ngIf="isDetailed">{{ orderItem.product.productName }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Comment   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Comment</ion-label>
                            <ion-textarea
                                    type="text"
                                    [autoGrow]="true"
                                    formControlName="orderItemComment"
                                    *ngIf="!isDetailed"
                            ></ion-textarea>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemComment }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--        Words and Fonts            -->
                    <ion-button
                            (click)="addWordAndFontFormControl()"
                            size="small"
                    >
                        <ion-icon name="add-circle-outline"></ion-icon>
                        Add Word and Font
                    </ion-button>

                    <section
                            formArrayName="orderItemWords"
                            *ngFor="let _ of orderItemWords.controls; index as i"
                            class="ion-margin-bottom"
                    >
                        <!--    Word   -->
                        <ion-item-group class="ion-margin-start">
                            <ion-item>
                                <ion-label>Word {{ i + 1 }}</ion-label>
                                <ion-input
                                        type="text"
                                        [ngClass]="getFontClassFormArray(validationForm.value.orderItemFonts[i])"
                                        slot="end"
                                        *ngIf="!isDetailed"
                                        placeholder="word"
                                        [formControl]="orderItemWords.controls[i]"
                                ></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label>Font {{ i + 1 }}</ion-label>
                                <ion-select
                                        interface="action-sheet"
                                        *ngIf="!isDetailed"
                                        [formControl]="orderItemFonts.controls[i]"
                                >
                                    <ion-select-option
                                            *ngFor="let font of fontNames"
                                            [value]="font"
                                    >{{ font }}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-item-group>
                    </section>

                    <!--    Quantity   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Quantity</ion-label>
                            <ion-input
                                    type="number"
                                    placeholder=""
                                    formControlName="orderItemQuantity"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemQuantity }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Ring Size US  -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Ring Size US</ion-label>
                            <ion-input
                                    type="number"
                                    placeholder=""
                                    formControlName="orderItemRingSizeUS"
                                    slot="end"
                                    *ngIf="!isDetailed"
                                    [min]="2"
                                    [max]="13"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemRingSizeUS }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Length Inch   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Length Inch</ion-label>
                            <ion-input
                                    type="number"
                                    placeholder=""
                                    formControlName="orderItemLengthInch"
                                    slot="end"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ orderItem.orderItemLengthInch }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Color   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Color</ion-label>
                            <ion-select
                                    *ngIf="!isDetailed"
                                    interface="action-sheet"
                                    formControlName="orderItemColor"
                                    [ngClass]="getColorClass()"
                            >
                                <ion-select-option
                                        *ngFor="let color of colors"
                                        [value]="color"
                                >
                                    {{ color }}
                                </ion-select-option>
                            </ion-select>

                            <ion-label
                                    *ngIf="isDetailed"
                                    [ngClass]="getColorClass()"
                            >{{ orderItem.orderItemColor }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--        Words and Fonts            -->
                    <ion-button
                            (click)="addImageUrlFormControl()"
                            size="small"
                    >
                        <ion-icon name="add-circle-outline"></ion-icon>
                        Add Image
                    </ion-button>

                    <section
                            formArrayName="orderItemImageUrls"
                            *ngFor="let _ of orderItemImageUrls.controls; index as i"
                            class="ion-margin-bottom"
                    >
                        <!--    Image   -->
                        <ion-item-group class="ion-margin-start">
                            <ion-item *ngIf="validationForm.value.orderItemImageUrls[i]">
                                <ion-label>Image {{ i + 1 }}</ion-label>
                                <ion-img
                                        [src]="validationForm.value.orderItemImageUrls[i]"
                                        slot="end"
                                        class="img-size-medium"
                                ></ion-img>
                            </ion-item>
                            <ion-item *ngIf="!isDetailed">
                                <ion-label>Choose Image {{ i + 1 }}</ion-label>
                                <ion-input
                                        #imageInput
                                        type="file"
                                        slot="end"
                                        (change)="previewLocalImg($event.target.files, i)"
                                ></ion-input>
                            </ion-item>
                        </ion-item-group>
                    </section>

                    <!--    Submit    -->
                    <ng-container>
                        <ion-button
                                [hidden]="isDetailed"
                                class="ion-margin-top"
                                (click)="submitHandler(submitButton)"
                                type="submit"
                                expand="block"
                                #submitButton
                        >
                            Submit
                        </ion-button>
                    </ng-container>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-footer style="height: 10vh">
    </ion-footer>
</ion-content>
