//
//* {
//  font-family: "Alittlesunshine";
//  //font-size: 2rem;
//}
//

//ion-select{
//  background-color: #0cd1e8;
//  color: white;;
//}

.silverColor {
  background-color: silver;
}

.platinumColor {
  background-color: #e5e4e2;
}

.goldColor {
  background-color: gold;
}

.roseGoldColor {
  background-color: #ffbcd2;
  font-family: Arial;
  font-size: 1rem;
}
