<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Products</ion-title>
    </ion-toolbar>
</ion-header>

<!--  Main Table Content for Desktop  -->
<ion-content *ngIf="isDesktop && (products | async)">
    <ion-item-group class="ion-margin">
        <ion-button routerLink="/products/create">
            <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
            <p>Create New Product</p>
        </ion-button>
    </ion-item-group>

    <ngx-datatable
            [rows]="products | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
    >
        <!--    Image    -->
        <ngx-datatable-column name="Image">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <img [src]="row.imageUrl">
            </ng-template>
        </ngx-datatable-column>

        <!--    Product Name    -->
        <ngx-datatable-column name="ProductName" prop="productName">
        </ngx-datatable-column>

        <!--    Product Type    -->
        <ngx-datatable-column name="Product Type" prop="productType">
        </ngx-datatable-column>

        <!--    Cut or Engraved    -->
        <ngx-datatable-column name="Cut Or Engraved" prop="cutOrEngraved">
        </ngx-datatable-column>

        <!--    Details Button   -->
        <ngx-datatable-column
                name="Details"
                [sortable]="false"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="secondary"
                        [routerLink]="['/products', row.id]"
                >
                    Details
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Edit Button   -->
        <ngx-datatable-column
                name="Edit"
                [sortable]="false"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="tertiary"
                        [routerLink]="['/products', row.id, 'edit']"
                >
                    Edit
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Delete Button    -->
        <ngx-datatable-column
                name="Delete"
                [sortable]="false"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        (click)="presentDeleteConfirm(row)"
                        color="danger"
                >
                    <ion-icon name="trash-bin-outline"></ion-icon>
                    Delete
                </ion-button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</ion-content>

<!--Cards-->
<!--<ion-content-->
<!--        *ngIf="isMobile && (products | async)"-->
<!--        scrollEvents="true"-->
<!--        [header]="header"-->
<!--        appHideHeader-->
<!--&gt;-->
<ion-content
        *ngIf="isMobile && (products | async)"
>

    <ion-item-group class="ion-margin-start ion-margin-top">
        <ion-button routerLink="/products/create">
            <ion-icon name="add-circle-outline" class="ion-margin-end"></ion-icon>
            New Product
        </ion-button>
    </ion-item-group>

    <!--      Cards as Products      -->
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="3"
                    sizeLg="4"
                    sizeMd="6"
                    *ngFor="let product of products | async"
            >
                <ion-card class="ion-no-margin ion-no-padding">
                    <section
                            [routerLink]="['/products', product.id]"
                    >
                        <ion-img
                                *ngIf="product.imageUrl"
                                [src]="product.imageUrl"
                        ></ion-img>

                        <ion-card-header class="ion-no-padding ion-no-margin">
                            <ion-card-title class="ion-text-center">
                                <ion-button
                                        color="tertiary"
                                        [routerLink]="['/products', product.id]"
                                        class="ion-text-wrap"
                                >
                                    <ion-icon name="pricetag-outline" class="ion-margin-end"></ion-icon>
                                    {{ product.productName }}
                                </ion-button>
                            </ion-card-title>
                        </ion-card-header>

                        <ion-card-content class="ion-no-margin ion-no-padding">
                            <ion-list>
                                <ion-item>
                                    <ion-label color="primary">Product Type</ion-label>
                                    <ion-label slot="end">{{ product.productType }}</ion-label>
                                </ion-item>

                                <ion-item>
                                    <ion-label color="primary">Technology</ion-label>
                                    <ion-label slot="end">{{ product.cutOrEngraved }}</ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </section>

                    <section>
                        <ion-item>
                            <ion-button
                                    [routerLink]="['/products', product.id, 'edit']"
                                    color="secondary"
                            >
                                <ion-icon name="settings-outline" class="ion-margin-end"></ion-icon>
                                Edit
                            </ion-button>

                            <ion-button
                                    (click)="presentDeleteConfirm(product)"
                                    color="danger"
                                    slot="end"
                            >
                                <ion-icon name="trash-bin-outline" class="ion-margin-end"></ion-icon>
                                Delete
                            </ion-button>
                        </ion-item>
                    </section>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-footer style="height: 10vh" #footer>
    </ion-footer>
</ion-content>

<!-- Skeleton screen -->
<ion-content *ngIf="!(products | async)">
    <ion-card *ngFor="let skeleton of skeletons">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
