<!--<ion-header>-->
<!--    <ion-toolbar>-->
<!--        <ion-buttons slot="start">-->
<!--            <ion-menu-button></ion-menu-button>-->
<!--        </ion-buttons>-->
<!--        <ion-title>Edit Customer</ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->


<ion-content>
    <app-customer-create></app-customer-create>
</ion-content>
<!--<ion-content class="ion-padding">-->

<!--    <ion-grid fixed>-->
<!--        <ion-row>-->
<!--            <ion-col-->
<!--                    sizeXl="6"-->
<!--                    offsetXl="3"-->
<!--                    sizeLg="6"-->
<!--                    offsetLg="3"-->
<!--                    sizeMd="8"-->
<!--                    offsetMd="2"-->
<!--            >-->
<!--                <ion-button routerLink="/customers">-->
<!--                    To Customers-->
<!--                </ion-button>-->

<!--                <form [formGroup]="validationForm" *ngIf="topUpdateCustomer">-->
<!--                    <ion-item-divider>-->
<!--                        <ion-label>Please fill in information for the Customer</ion-label>-->
<!--                    </ion-item-divider>-->

<!--                    &lt;!&ndash;    First Name    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>First Name</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="Veronica"-->
<!--                                    formControlName="firstName"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    Last Name    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>Last Name</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="Flores"-->
<!--                                    formControlName="lastName"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    Nick    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>Nick (optional)</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="Veronica Flores"-->
<!--                                    formControlName="nick"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    Number    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>Number</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="8318"-->
<!--                                    formControlName="number"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    Street    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>Street</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="McConnell Ave"-->
<!--                                    formControlName="street"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    Extra Information    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>Extra Information (optional)</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="string"-->
<!--                                    placeholder="apartment 520"-->
<!--                                    formControlName="extraInfor"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    City    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>City</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="SAN FRANCISCO"-->
<!--                                    formControlName="city"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    State    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>State</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="CA"-->
<!--                                    formControlName="state"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    Postal Code    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>Postal Code</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="90045"-->
<!--                                    formControlName="postal"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->

<!--                    &lt;!&ndash;    Country    &ndash;&gt;-->
<!--                    <ion-item-group>-->
<!--                        <ion-item>-->
<!--                            <ion-label>Country</ion-label>-->
<!--                            <ion-input-->
<!--                                    type="text"-->
<!--                                    placeholder="United States"-->
<!--                                    formControlName="country"-->
<!--                            ></ion-input>-->
<!--                        </ion-item>-->
<!--                    </ion-item-group>-->


<!--                    <ion-button-->
<!--                            [disabled]="!validationForm.valid"-->
<!--                            class="ion-margin-top"-->
<!--                            (click)="submitHandler()"-->
<!--                            type="submit"-->
<!--                            expand="block"-->
<!--                    >-->
<!--                        Submit-->
<!--                    </ion-button>-->
<!--                </form>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--    </ion-grid>-->
<!--</ion-content>-->
