<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="isCreated">Create Product</ion-title>
        <ion-title *ngIf="isUpdated">Edit Product</ion-title>
        <ion-title *ngIf="isDetailed">Product's Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="6"
                    offsetXl="3"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >
                <ion-button routerLink="/products">
                    To Products
                </ion-button>
                <ion-button
                        color="tertiary"
                        *ngIf="isDetailed && product"
                        [routerLink]="['/products', product.id, 'edit']"
                >
                    <ion-icon name="settings-outline" class="ion-margin-end"></ion-icon>
                    Edit
                </ion-button>

                <!--        Reactive Form        -->
                <form
                        [formGroup]="validationForm"
                        *ngIf="product"
                >
                    <ion-item-divider>
                        <ion-label *ngIf="isDetailed">Please fill in information for the product</ion-label>
                    </ion-item-divider>

                    <!--    Product Name    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Tên sản phẩm</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="what.."
                                    formControlName="productName"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ product.productName }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Product Type    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Loại</ion-label>
                            <ion-select
                                    interface="popover"
                                    formControlName="productType"
                                    *ngIf="!isDetailed"
                            >
                                <ion-select-option>Dây</ion-select-option>
                                <ion-select-option>Nhẫn</ion-select-option>
                                <ion-select-option>Bông tai</ion-select-option>
                                <ion-select-option>Vòng</ion-select-option>
                                <ion-select-option>Kẹp cài áo</ion-select-option>
                            </ion-select>

                            <ion-label *ngIf="isDetailed">{{ product.productType }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Cut Or Engrave    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Cắt hay Khắc</ion-label>
                            <ion-select
                                    interface="popover"
                                    formControlName="cutOrEngraved"
                                    *ngIf="!isDetailed"
                            >
                                <ion-select-option>Cut</ion-select-option>
                                <ion-select-option>Engrave</ion-select-option>
                            </ion-select>

                            <ion-label *ngIf="isDetailed">{{ product.cutOrEngraved }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Image Upload    -->
                    <ion-item-group>
                        <ion-img
                                *ngIf="this.product?.imageUrl"
                                [src]="this.product.imageUrl"
                        ></ion-img>
                    </ion-item-group>

                    <ion-item-group *ngIf="!isDetailed">
                        <ion-item>
                            <ion-label>Ảnh mẫu</ion-label>
                            <input
                                    class="fileInput"
                                    id="uploadBtn"
                                    type="file"
                                    class="upload"
                                    (change)="uploadProductImage($event.target.files)"
                            />
                        </ion-item>
                    </ion-item-group>

                    <!--  Submit Button  -->
                    <ion-button
                            [disabled]="!validationForm.valid"
                            class="ion-margin-top"
                            (click)="submitHandler()"
                            type="submit"
                            expand="block"
                            *ngIf="!isDetailed"
                    >
                        Submit
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-footer style="height: 10vh">
    </ion-footer>
</ion-content>


