<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>ProductCreate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="6"
                    offsetXl="3"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >
                <ion-button routerLink="/products">
                    To Products
                </ion-button>

                <form [formGroup]="validationForm">
                    <ion-item-divider>
                        <ion-label>Please fill in information for the product</ion-label>
                    </ion-item-divider>

                    <!--    Product Name    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Tên sản phẩm</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="what.."
                                    formControlName="productName"
                            ></ion-input>
                        </ion-item>
                    </ion-item-group>

                    <!--    Product Type    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Loại</ion-label>
                            <ion-select
                                    interface="popover"
                                    formControlName="productType"
                            >
                                <ion-select-option>Dây</ion-select-option>
                                <ion-select-option>Nhẫn</ion-select-option>
                                <ion-select-option>Bông tai</ion-select-option>
                                <ion-select-option>Vòng</ion-select-option>
                                <ion-select-option>Kẹp cài áo</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-item-group>

                    <!--    Cut Or Engrave    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Cắt hay Khắc</ion-label>
                            <ion-select
                                    interface="popover"
                                    formControlName="cutOrEngraved"
                            >
                                <ion-select-option>Cut</ion-select-option>
                                <ion-select-option>Engrave</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-item-group>

                    <!--    Image Upload    -->
                    <ion-item-group>
                        <ion-img
                                [src]="this.newProduct.imageUrl"
                                *ngIf="this.newProduct.imageUrl"
                        ></ion-img>
                    </ion-item-group>

                    <ion-item-group>
                        <ion-item>
                            <ion-label>Ảnh mẫu</ion-label>
                            <!--                <ion-input type="text" placeholder="what.."></ion-input>-->
                            <input
                                    class="fileInput"
                                    id="uploadBtn"
                                    type="file"
                                    class="upload"
                                    (change)="uploadProductImage($event.target.files)"

                            />
                        </ion-item>
                    </ion-item-group>


                    <ion-button
                            [disabled]="!validationForm.valid"
                            class="ion-margin-top"
                            (click)="submitHandler()"
                            type="submit"
                            expand="block"
                    >
                        Submit
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>


