<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Create Order</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="6"
                    offsetXl="3"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >
                <ion-button routerLink="/orders">
                    To Orders
                </ion-button>

                <form [formGroup]="validationForm">
                    <ion-item-divider>
                        <ion-label>Please fill in information for the Order</ion-label>
                    </ion-item-divider>

                    <!--    Order Code   -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Order Code</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="Order 64"
                                    formControlName="orderCode"
                            ></ion-input>
                        </ion-item>
                    </ion-item-group>

                    <!--    Order Deadline    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Order Deadline</ion-label>
                            <ion-datetime
                                    displayFormat="DD/MM/YYYY"
                                    [min]="fourDaysFromNow.toISOString()"
                                    formControlName="orderDeadline">
                            </ion-datetime>
                        </ion-item>
                    </ion-item-group>


                    <ion-button
                            [disabled]="!validationForm.valid"
                            class="ion-margin-top"
                            (click)="submitHandler()"
                            type="submit"
                            expand="block"
                    >
                        Submit
                    </ion-button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
