<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Customers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(customers | async)">
    <ion-item-group class="ion-margin">
        <ion-button routerLink="/customers/create">
            Create New Customer
        </ion-button>
    </ion-item-group>

    <!--  Main Table Content for Desktop  -->
    <ngx-datatable
            *ngIf="customers && isDesktop"
            [rows]="customers | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
    >
        <!--    First Name    -->
        <ngx-datatable-column name="First Name" prop="firstName">
        </ngx-datatable-column>

        <!--    Last Name    -->
        <ngx-datatable-column name="Last Name" prop="lastName">
        </ngx-datatable-column>

        <!--    Address    -->
        <ngx-datatable-column
                name="Address"
                [sortable]="false"
                minWidth="130"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row.number }} {{ row.street }} <br>
                {{ row.city }}, {{ row.state }} {{ row.postal }}<br>
                {{ row.country }}
            </ng-template>
        </ngx-datatable-column>

        <!--    Details Button    -->
        <ngx-datatable-column
                name="Details"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="secondary"
                        [routerLink]="['/customers', row.id]"
                >
                    Details
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Edit Button    -->
        <ngx-datatable-column
                name="Edit"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="tertiary"
                        [routerLink]="['/customers', row.id, 'edit']"
                >
                    <ion-icon name="settings-outline"></ion-icon>
                    Edit
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Delete Button    -->
        <ngx-datatable-column
                name="Delete"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="danger"
                        (click)="presentDeleteConfirm(row)"
                >
                    <ion-icon name="trash-bin-outline"></ion-icon>
                    Delete
                </ion-button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

    <section *ngIf="isMobile">
        <ion-card
                *ngFor="let customer of customers | async"
        >
            <ion-card-header>
                <ion-card-subtitle>{{ customer.nick }}</ion-card-subtitle>
                <ion-card-title>
                    <ion-button
                            color="tertiary"
                            [routerLink]="['/customers', customer.id]"
                    >
                        <ion-icon name="person-outline"></ion-icon>
                        {{ customer.firstName }}, {{ customer.lastName }}
                    </ion-button>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-label color="primary">Address</ion-label>
                        <ion-label>{{ customer.number }} {{ customer.street }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="primary">Extra Infor</ion-label>
                        <ion-label slot="end">{{ customer.extraInfor }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="primary">City</ion-label>
                        <ion-label>{{ customer.city }}</ion-label>
                    </ion-item>

                    <ion-item *ngIf="customer.nick">
                        <ion-label color="primary">State, Code</ion-label>
                        <ion-label>{{ customer.state }}, {{ customer.postal }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-label color="primary">Country</ion-label>
                        <ion-label>{{ customer.country }}</ion-label>
                    </ion-item>

                    <ion-item>
                        <ion-button
                                [routerLink]="['/customers', customer.id, 'edit']"
                                color="secondary"
                        >
                            <ion-icon name="settings-outline"></ion-icon>
                            Edit
                        </ion-button>

                        <ion-button
                                (click)="presentDeleteConfirm(customer)"
                                color="danger"
                                slot="end"
                        >
                            <ion-icon name="trash-bin-outline"></ion-icon>
                            Delete
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>


    </section>


</ion-content>

<!-- Skeleton screen -->
<ion-content *ngIf="!(customers | async)">
    <ion-card *ngFor="let skeleton of skeletons">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-subtitle>
            <ion-card-title>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label color="primary">
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                    <ion-label>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
