<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Customers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="">
    <ion-item-group class="ion-margin">
        <ion-button routerLink="/customers/create">
            Create New Customer
        </ion-button>
    </ion-item-group>

    <ion-col size="6" offset="6" *ngIf="!customers">
        <ion-spinner></ion-spinner>
    </ion-col>

    <!--  Main Table Content for Desktop  -->
    <ngx-datatable
            *ngIf="customers"
            [rows]="customers | async"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
    >
        <!--    First Name    -->
        <ngx-datatable-column name="First Name" prop="firstName">
        </ngx-datatable-column>

        <!--    Last Name    -->
        <ngx-datatable-column name="Last Name" prop="lastName">
        </ngx-datatable-column>

        <!--    Address    -->
        <ngx-datatable-column
                name="Address"
                [sortable]="false"
                minWidth="130"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                {{ row.number }} {{ row.street }} <br>
                {{ row.city }}, {{ row.state }} {{ row.postal }}<br>
                {{ row.country }}
            </ng-template>
        </ngx-datatable-column>

        <!--    Details Button    -->
        <ngx-datatable-column
                name="Details"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="secondary"
                        [routerLink]="['/customers', row.id]"
                >
                    Details
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Edit Button    -->
        <ngx-datatable-column
                name="Edit"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="tertiary"
                        [routerLink]="['/customers', row.id, 'edit']"
                >
                    <ion-icon name="settings-outline"></ion-icon>
                    Edit
                </ion-button>
            </ng-template>
        </ngx-datatable-column>

        <!--    Delete Button    -->
        <ngx-datatable-column
                name="Delete"
                [sortable]="false"
                *ngIf="isDesktop"
        >
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <ion-button
                        size="small"
                        color="danger"
                        (click)="presentDeleteConfirm(row)"
                >
                    <ion-icon name="trash-bin-outline"></ion-icon>
                    Delete
                </ion-button>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</ion-content>
