<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title *ngIf="isCreated">Create Customer</ion-title>
        <ion-title *ngIf="isUpdated">Edit Customer</ion-title>
        <ion-title *ngIf="isDetailed">Customer's Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="6"
                    offsetXl="3"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >
                <ion-button routerLink="/customers">
                    <ion-icon name="people-outline"></ion-icon>
                    To Customers
                </ion-button>
                <ion-button
                        color="tertiary"
                        *ngIf="isDetailed && customer"
                        [routerLink]="['/customers', customer.id, 'edit']"
                >
                    <ion-icon name="settings-outline"></ion-icon>
                    Edit
                </ion-button>

                <!--        Reactive Form        -->
                <form
                        [formGroup]="validationForm"
                        *ngIf="customer"
                        (keydown.enter)="validationForm.valid ? submitHandler(submitButton) : null"
                >
                    <ion-item-divider>
                        <ion-label *ngIf="!isDetailed">Please fill in information for the Customer</ion-label>
                    </ion-item-divider>

                    <!--    First Name    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>First Name</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="Veronica"
                                    formControlName="firstName"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.firstName }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Last Name    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Last Name</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="Flores"
                                    formControlName="lastName"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.lastName }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Nick    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Nick (optional)</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="Veronica Flores"
                                    formControlName="nick"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.nick }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Number    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Number</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="8318"
                                    formControlName="number"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.number }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Street    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Street</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="McConnell Ave"
                                    formControlName="street"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.street }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Extra Information    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Extra Info (optional)</ion-label>
                            <ion-input
                                    type="string"
                                    placeholder="apartment 520"
                                    formControlName="extraInfor"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.extraInfor }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    City    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>City</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="SAN FRANCISCO"
                                    formControlName="city"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.city }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    State    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>State</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="CA"
                                    formControlName="state"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.state }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Postal Code    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Postal Code</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="90045"
                                    formControlName="postal"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.postal }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--    Country    -->
                    <ion-item-group>
                        <ion-item>
                            <ion-label>Country</ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="United States"
                                    formControlName="country"
                                    *ngIf="!isDetailed"
                            ></ion-input>

                            <ion-label *ngIf="isDetailed">{{ customer.country }}</ion-label>
                        </ion-item>
                    </ion-item-group>

                    <!--  Submit Button  -->
                    <ng-container>
                        <ion-button
                                [disabled]="!validationForm.valid"
                                [hidden]="true"
                                #submitButton
                        >
                            Submit
                        </ion-button>

                        <ion-button
                                *ngIf="!isDetailed"
                                [disabled]="!validationForm.valid"
                                class="ion-margin-top"
                                (click)="submitHandler(submitButton)"
                                type="submit"
                                expand="block"
                                #submitButton
                        >
                            Submit
                        </ion-button>
                    </ng-container>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-footer style="height: 10vh">
    </ion-footer>
</ion-content>
