.Alittlesunshine {
    font-family: A little sunshine;
    font-size: 3rem;
}

.AmsterdamOne {
    font-family: Amsterdam One;
    font-size: 3rem;
}

.Angelface {
    font-family: Angelface;
    font-size: 3rem;
}

.AppleChancery {
    font-family: Apple Chancery;
    font-size: 3rem;
}

.Arial {
    font-family: Arial;
    font-size: 3rem;
}

.BookmanOldStyle {
    font-family: Bookman Old Style;
    font-size: 3rem;
}

.BradleyHand {
    font-family: Bradley Hand;
    font-size: 3rem;
}

.BrotherhoodScript {
    font-family: Brotherhood Script;
    font-size: 3rem;
}

.CallieHand {
    font-family: Callie Hand;
    font-size: 3rem;
}

.Candlescript {
    font-family: Candlescript;
    font-size: 3rem;
}

.CaviarDreams {
    font-family: Caviar Dreams;
    font-size: 3rem;
}

.CenturyGothic {
    font-family: Century Gothic;
    font-size: 3rem;
}

.ChloeRegular {
    font-family: Chloe Regular;
    font-size: 3rem;
}

.ColonnaMT {
    font-family: Colonna MT;
    font-size: 3rem;
}

.Copperplate {
    font-family: Copperplate;
    font-size: 3rem;
}

.CosmopolitanScript {
    font-family: Cosmopolitan Script;
    font-size: 3rem;
}

.CourierNormalRegular {
    font-family: Courier Normal Regular;
    font-size: 3rem;
}

.DancingScriptOT {
    font-family: Dancing Script OT;
    font-size: 3rem;
}

.EdwardianScriptITC {
    font-family: Edwardian Script ITC;
    font-size: 3rem;
}

.EnglishTowne {
    font-family: English Towne;
    font-size: 3rem;
}

.Gabriola {
    font-family: Gabriola;
    font-size: 3rem;
}

.GautreauxMedium {
    font-family: Gautreaux Medium;
    font-size: 3rem;
}

.GrandHotel {
    font-family: Grand Hotel;
    font-size: 3rem;
}

.GreatVibes {
    font-family: Great Vibes;
    font-size: 3rem;
}

.HaloHandletter {
    font-family: HaloHandletter;
    font-size: 3rem;
}

.Honeyquick {
    font-family: Honeyquick;
    font-size: 3rem;
}

.IsabellaScript {
    font-family: Isabella Script;
    font-size: 3rem;
}

.JennaSue {
    font-family: Jenna Sue;
    font-size: 3rem;
}

.LaurenScript {
    font-family: Lauren Script;
    font-size: 3rem;
}

.LavanderiaRegular {
    font-family: Lavanderia Regular;
    font-size: 3rem;
}

.LittleDaysAlt {
    font-family: Little Days Alt;
    font-size: 3rem;
}

.LittleDays {
    font-family: Little Days;
    font-size: 3rem;
}

.Lobster14 {
    font-family: Lobster 1.4;
    font-size: 3rem;
}

.LucidaCalligraphy {
    font-family: Lucida Calligraphy;
    font-size: 3rem;
}

.LucidaHandwriting {
    font-family: Lucida Handwriting;
    font-size: 3rem;
}

.Maratre {
    font-family: Maratre;
    font-size: 3rem;
}

.MoneyPennyScript {
    font-family: Money Penny Script;
    font-size: 3rem;
}

.Monogram {
    font-family: Monogram;
    font-size: 3rem;
}

.MonotypeCorsiva {
    font-family: Monotype Corsiva;
    font-size: 3rem;
}

.MulberryScript {
    font-family: Mulberry Script;
    font-size: 3rem;
}

.MurrayHill {
    font-family: Murray Hill;
    font-size: 3rem;
}

.NellaSueDemo {
    font-family: Nella Sue Demo;
    font-size: 3rem;
}

.Quiska {
    font-family: Quiska;
    font-size: 3rem;
}

.Rochester {
    font-family: Rochester;
    font-size: 3rem;
}

.ScriptMT {
    font-family: Script MT;
    font-size: 3rem;
}

.Scriptina {
    font-family: Scriptina;
    font-size: 3rem;
}

.Sofia {
    font-family: Sofia;
    font-size: 3rem;
}

.TimesNewRoman {
    font-family: Times New Roman;
    font-size: 3rem;
}
