@font-face {
    font-family: "A little sunshine";
    src: url("./fonts/Alittlesunshine.woff2") format("woff2"), url("./fonts/Alittlesunshine.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amsterdam One";
    src: url("./fonts/AmsterdamOne.woff2") format("woff2"), url("./fonts/AmsterdamOne.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Angelface";
    src: url("./fonts/Angelface.woff2") format("woff2"), url("./fonts/Angelface.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Apple Chancery";
    src: url("./fonts/AppleChancery.woff2") format("woff2"), url("./fonts/AppleChancery.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url("./fonts/Arial.woff2") format("woff2"), url("./fonts/Arial.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bookman Old Style";
    src: url("./fonts/BookmanOldStyle.woff2") format("woff2"), url("./fonts/BookmanOldStyle.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bradley Hand";
    src: url("./fonts/BradleyHand.woff2") format("woff2"), url("./fonts/BradleyHand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brotherhood Script";
    src: url("./fonts/BrotherhoodScript.woff2") format("woff2"), url("./fonts/BrotherhoodScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Callie Hand";
    src: url("./fonts/CallieHand.woff2") format("woff2"), url("./fonts/CallieHand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Candlescript";
    src: url("./fonts/Candlescript.woff2") format("woff2"), url("./fonts/Candlescript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("./fonts/CaviarDreams.woff2") format("woff2"), url("./fonts/CaviarDreams.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/CenturyGothic.woff2") format("woff2"), url("./fonts/CenturyGothic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chloe Regular";
    src: url("./fonts/ChloeRegular.woff2") format("woff2"), url("./fonts/ChloeRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Colonna MT";
    src: url("./fonts/ColonnaMT.woff2") format("woff2"), url("./fonts/ColonnaMT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Copperplate";
    src: url("./fonts/Copperplate.woff2") format("woff2"), url("./fonts/Copperplate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cosmopolitan Script";
    src: url("./fonts/CosmopolitanScript.woff2") format("woff2"), url("./fonts/CosmopolitanScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Courier Normal Regular";
    src: url("./fonts/CourierNormalRegular.woff") format("woff"), url("./fonts/CourierNormalRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dancing Script OT";
    src: url("./fonts/DancingScriptOT.woff2") format("woff2"), url("./fonts/DancingScriptOT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Desyrel";
    src: url("./fonts/Desyrel.woff2") format("woff2"), url("./fonts/Desyrel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Edwardian Script ITC";
    src: url("./fonts/EdwardianScriptITC.woff2") format("woff2"), url("./fonts/EdwardianScriptITC.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Enchanted Land";
    src: url("./fonts/EnchantedLand.woff2") format("woff2"), url("./fonts/EnchantedLand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "English Towne";
    src: url("./fonts/EnglishTowne.woff2") format("woff2"), url("./fonts/EnglishTowne.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gabriola";
    src: url("./fonts/Gabriola.woff2") format("woff2"), url("./fonts/Gabriola.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gautreaux Medium";
    src: url("./fonts/GautreauxMedium.woff2") format("woff2"), url("./fonts/GautreauxMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grand Hotel";
    src: url("./fonts/GrandHotel.woff2") format("woff2"), url("./fonts/GrandHotel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Great Vibes";
    src: url("./fonts/GreatVibes.woff2") format("woff2"), url("./fonts/GreatVibes.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HaloHandletter";
    src: url("./fonts/HaloHandletter.woff2") format("woff2"), url("./fonts/HaloHandletter.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Honeyquick";
    src: url("./fonts/Honeyquick.woff2") format("woff2"), url("./fonts/Honeyquick.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Isabella Script";
    src: url("./fonts/IsabellaScript.woff2") format("woff2"), url("./fonts/IsabellaScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jenna Sue";
    src: url("./fonts/JennaSue.woff2") format("woff2"), url("./fonts/JennaSue.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lauren Script";
    src: url("./fonts/LaurenScript.woff2") format("woff2"), url("./fonts/LaurenScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lavanderia Regular";
    src: url("./fonts/LavanderiaRegular.woff2") format("woff2"), url("./fonts/LavanderiaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Little Days Alt";
    src: url("./fonts/LittleDaysAlt.woff2") format("woff2"), url("./fonts/LittleDaysAlt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Little Days";
    src: url("./fonts/LittleDays.woff2") format("woff2"), url("./fonts/LittleDays.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster14";
    src: url("./fonts/Lobster14.woff2") format("woff2"), url("./fonts/Lobster14.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Love";
    src: url("./fonts/Love.woff2") format("woff2"), url("./fonts/Love.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lucida Calligraphy";
    src: url("./fonts/LucidaCalligraphy.woff2") format("woff2"), url("./fonts/LucidaCalligraphy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lucida Handwriting";
    src: url("./fonts/LucidaHandwriting.woff2") format("woff2"), url("./fonts/LucidaHandwriting.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Maratre";
    src: url("./fonts/Maratre.woff2") format("woff2"), url("./fonts/Maratre.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Money Penny Script";
    src: url("./fonts/MoneyPennyScript.woff2") format("woff2"), url("./fonts/MoneyPennyScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monogram";
    src: url("./fonts/Monogram.woff2") format("woff2"), url("./fonts/Monogram.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monotype Corsiva";
    src: url("./fonts/MonotypeCorsiva.woff2") format("woff2"), url("./fonts/MonotypeCorsiva.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulberry Script";
    src: url("./fonts/MulberryScript.woff2") format("woff2"), url("./fonts/MulberryScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Murray Hill";
    src: url("./fonts/MurrayHill.woff2") format("woff2"), url("./fonts/MurrayHill.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nella Sue Demo";
    src: url("./fonts/NellaSueDemo.woff2") format("woff2"), url("./fonts/NellaSueDemo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quiska";
    src: url("./fonts/Quiska.woff2") format("woff2"), url("./fonts/Quiska.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rochester";
    src: url("./fonts/Rochester.woff2") format("woff2"), url("./fonts/Rochester.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Script MT";
    src: url("./fonts/ScriptMT.woff2") format("woff2"), url("./fonts/ScriptMT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scriptina";
    src: url("./fonts/Scriptina.woff2") format("woff2"), url("./fonts/Scriptina.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sofia";
    src: url("./fonts/Sofia.woff2") format("woff2"), url("./fonts/Sofia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url("./fonts/TimesNewRoman.woff2") format("woff2"), url("./fonts/TimesNewRoman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "A little sunshine";
    src: url("./fonts/Alittlesunshine.woff2") format("woff2"), url("./fonts/Alittlesunshine.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amsterdam One";
    src: url("./fonts/AmsterdamOne.woff2") format("woff2"), url("./fonts/AmsterdamOne.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Angelface";
    src: url("./fonts/Angelface.woff2") format("woff2"), url("./fonts/Angelface.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Apple Chancery";
    src: url("./fonts/AppleChancery.woff2") format("woff2"), url("./fonts/AppleChancery.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url("./fonts/Arial.woff2") format("woff2"), url("./fonts/Arial.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bookman Old Style";
    src: url("./fonts/BookmanOldStyle.woff2") format("woff2"), url("./fonts/BookmanOldStyle.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bradley Hand";
    src: url("./fonts/BradleyHand.woff2") format("woff2"), url("./fonts/BradleyHand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Brotherhood Script";
    src: url("./fonts/BrotherhoodScript.woff2") format("woff2"), url("./fonts/BrotherhoodScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Callie Hand";
    src: url("./fonts/CallieHand.woff2") format("woff2"), url("./fonts/CallieHand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Candlescript";
    src: url("./fonts/Candlescript.woff2") format("woff2"), url("./fonts/Candlescript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("./fonts/CaviarDreams.woff2") format("woff2"), url("./fonts/CaviarDreams.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/CenturyGothic.woff2") format("woff2"), url("./fonts/CenturyGothic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chloe Regular";
    src: url("./fonts/ChloeRegular.woff2") format("woff2"), url("./fonts/ChloeRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Colonna MT";
    src: url("./fonts/ColonnaMT.woff2") format("woff2"), url("./fonts/ColonnaMT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Copperplate";
    src: url("./fonts/Copperplate.woff2") format("woff2"), url("./fonts/Copperplate.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cosmopolitan Script";
    src: url("./fonts/CosmopolitanScript.woff2") format("woff2"), url("./fonts/CosmopolitanScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Courier Normal Regular";
    src: url("./fonts/CourierNormalRegular.woff") format("woff"), url("./fonts/CourierNormalRegular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dancing Script OT";
    src: url("./fonts/DancingScriptOT.woff2") format("woff2"), url("./fonts/DancingScriptOT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Edwardian Script ITC";
    src: url("./fonts/EdwardianScriptITC.woff2") format("woff2"), url("./fonts/EdwardianScriptITC.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "English Towne";
    src: url("./fonts/EnglishTowne.woff2") format("woff2"), url("./fonts/EnglishTowne.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gabriola";
    src: url("./fonts/Gabriola.woff2") format("woff2"), url("./fonts/Gabriola.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gautreaux Medium";
    src: url("./fonts/GautreauxMedium.woff2") format("woff2"), url("./fonts/GautreauxMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Grand Hotel";
    src: url("./fonts/GrandHotel.woff2") format("woff2"), url("./fonts/GrandHotel.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Great Vibes";
    src: url("./fonts/GreatVibes.woff2") format("woff2"), url("./fonts/GreatVibes.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HaloHandletter";
    src: url("./fonts/HaloHandletter.woff2") format("woff2"), url("./fonts/HaloHandletter.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Honeyquick";
    src: url("./fonts/Honeyquick.woff2") format("woff2"), url("./fonts/Honeyquick.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Isabella Script";
    src: url("./fonts/IsabellaScript.woff2") format("woff2"), url("./fonts/IsabellaScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jenna Sue";
    src: url("./fonts/JennaSue.woff2") format("woff2"), url("./fonts/JennaSue.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lauren Script";
    src: url("./fonts/LaurenScript.woff2") format("woff2"), url("./fonts/LaurenScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lavanderia Regular";
    src: url("./fonts/LavanderiaRegular.woff2") format("woff2"), url("./fonts/LavanderiaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Little Days Alt";
    src: url("./fonts/LittleDaysAlt.woff2") format("woff2"), url("./fonts/LittleDaysAlt.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Little Days";
    src: url("./fonts/LittleDays.woff2") format("woff2"), url("./fonts/LittleDays.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster 1.4";
    src: url("./fonts/Lobster14.woff2") format("woff2"), url("./fonts/Lobster14.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lucida Calligraphy";
    src: url("./fonts/LucidaCalligraphy.woff2") format("woff2"), url("./fonts/LucidaCalligraphy.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lucida Handwriting";
    src: url("./fonts/LucidaHandwriting.woff2") format("woff2"), url("./fonts/LucidaHandwriting.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Maratre";
    src: url("./fonts/Maratre.woff2") format("woff2"), url("./fonts/Maratre.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Money Penny Script";
    src: url("./fonts/MoneyPennyScript.woff2") format("woff2"), url("./fonts/MoneyPennyScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monogram";
    src: url("./fonts/Monogram.woff2") format("woff2"), url("./fonts/Monogram.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monotype Corsiva";
    src: url("./fonts/MonotypeCorsiva.woff2") format("woff2"), url("./fonts/MonotypeCorsiva.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mulberry Script";
    src: url("./fonts/MulberryScript.woff2") format("woff2"), url("./fonts/MulberryScript.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Murray Hill";
    src: url("./fonts/MurrayHill.woff2") format("woff2"), url("./fonts/MurrayHill.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nella Sue Demo";
    src: url("./fonts/NellaSueDemo.woff2") format("woff2"), url("./fonts/NellaSueDemo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quiska";
    src: url("./fonts/Quiska.woff2") format("woff2"), url("./fonts/Quiska.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rochester";
    src: url("./fonts/Rochester.woff2") format("woff2"), url("./fonts/Rochester.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Script MT";
    src: url("./fonts/ScriptMT.woff2") format("woff2"), url("./fonts/ScriptMT.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Scriptina";
    src: url("./fonts/Scriptina.woff2") format("woff2"), url("./fonts/Scriptina.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Sofia";
    src: url("./fonts/Sofia.woff2") format("woff2"), url("./fonts/Sofia.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Times New Roman";
    src: url("./fonts/TimesNewRoman.woff2") format("woff2"), url("./fonts/TimesNewRoman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Tox Typewriter";
    src: url("./fonts/ToxTypewriter.woff2") format("woff2"), url("./fonts/ToxTypewriter.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WildMoon";
    src: url("./fonts/WildMoon.woff") format("woff"), /* Modern Browsers */ url("./fonts/WildMoon.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
