.RESERVED {
  background: #fffd00;
}

.ĐANG_CHỜ {
  background: #fffd00 !important;
}

.BẮT_ĐẦU {
}

.ĐÃ_LÀM_MẪU {
  background: var(--ion-color-primary) !important;
  color: var(--ion-color-primary-contrast) !important;
}

.ĐÃ_MẮC_DÂY {
  background: var(--ion-color-secondary) !important;
  color: var(--ion-color-secondary-contrast) !important;
}

.XONG {
  background: var(--ion-color-success) !important;
  color: var(--ion-color-success-contrast) !important;
}

