/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

/* For Ag-Grid Table */
//@import "../node_modules/ag-grid-community/src/styles/ag-grid";
//@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham";
@import "~ag-grid-community/src/styles/ag-grid";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham";
@import "~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material";

//.ag-theme-balham .ag-row-selected {
//  background-color: red;
//}
//
//.ag-theme-balham .ag-ltr .ag-row-hover {
//  //border: 1px solid blue;
//  background: red;
//}

@import './assets/fontFaces.css';
@import './assets/fontClasses.css';
@import './assets/colorClasses.css';
@import './assets/quantityClasses.css';
@import './assets/commentClasses.css';
@import './assets/datatableClasses.css';
@import './assets/statusClasses';

/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

// For Selected Datatable Row
.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: var(--ion-color-success) !important;
}

.spinner-loading {
  width: 100px;
  height: 100px;
  margin: 5rem auto;
}
