<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Choose Orders to Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col
                    sizeXl="6"
                    offsetXl="3"
                    sizeLg="6"
                    offsetLg="3"
                    sizeMd="8"
                    offsetMd="2"
            >
                <form
                        [formGroup]="validationForm"
                >
                    <ion-item-group>
                        <ion-item>
                            <ion-label>In Orders</ion-label>
                            <ion-select
                                    multiple="true"
                                    interface="alert"
                                    formControlName="orders"
                                    [compareWith]="compareWithFn"
                                    (ionChange)="onSelectOrder()"
                            >
                                <ion-select-option
                                        *ngFor="let order of orders$ | async"
                                        [value]="order"
                                >
                                    {{ order.orderCode }}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>

                        <ion-item>
                            <ion-label>
                                <ion-icon name="search-outline"></ion-icon>
                            </ion-label>
                            <ion-input
                                    type="text"
                                    placeholder="search..."
                                    formControlName="toSearchText"
                                    #searchInput
                                    debounce="200"
                                    (ionChange)="searchHandler()"
                            >
                            </ion-input>
                        </ion-item>
                    </ion-item-group>

                    <ion-item-divider class="ion-margin-top">
                        <ion-label>Tips: <br>
                            <p>Double click each cell of Comment or Status to Edit</p>
                            <p>Click Column's Header to sort</p>
                        </ion-label>
                    </ion-item-divider>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>


    <section
            *ngIf="isDesktop"
            class="container"
    >
        <ngx-datatable
            #table
            [rows]="orderItemsPaginated"
            [rowHeight]="'auto'"
            [headerHeight]="50"
            [ngClass]="tableStyle"
            [columnMode]="'force'"
            [footerHeight]="50"
            class="ion-text-wrap"
            style="overflow: hidden"
            [rowClass]="getRowClass"
        >
            <!--    Status    -->
            <ngx-datatable-column
                    name="Status"
                    prop="orderItemStatus"
                    [cellClass]="getStatusClass"
            >
                <ng-template
                        let-row="row"
                        let-value="value"
                        let-rowIndex="rowIndex"
                        ngx-datatable-cell-template
                >
                    <span
                            *ngIf="!editingOrderItem[rowIndex + '-orderItemStatus']"
                            title="Double Click to edit"
                            (dblclick)="editingOrderItem[rowIndex + '-orderItemStatus'] = true"
                            class="cell-text-center"
                    >
                        {{ row?.orderItemStatus }}
                    </span>

                    <ion-select
                            *ngIf="editingOrderItem[rowIndex + '-orderItemStatus']"
                            class="ion-no-margin ion-no-padding"
                            interface="action-sheet"
                            (mouseenter)="startEditingInputSelect(orderItemStatus)"
                            [value]="row?.orderItemStatus"
                            (ionChange)="updateOrderItem($event, 'orderItemStatus', rowIndex, row)"
                            (ionCancel)="editingOrderItem[rowIndex + '-orderItemStatus'] = false"
                            #orderItemStatus
                    >
                        <ion-select-option
                                *ngFor="let status of statuses"
                                [value]="status"
                        >
                            {{ status }}
                        </ion-select-option>
                    </ion-select>
                </ng-template>
            </ngx-datatable-column>

            <!--    Comment    -->
            <ngx-datatable-column
                    name="Comment"
                    prop="orderItemComment"
                    [cellClass]="getCommentClassCell"
                    *ngIf="isDesktop"
            >
                <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template
                             class="ion-no-padding"
                >
                    <!--                    <span>-->
                    <!--                        {{ row.orderItemComment }}-->
                    <!--                    </span>-->

                    <span
                            *ngIf="!editingOrderItem[rowIndex + '-orderItemComment']"
                            title="Double Click to edit"
                            (dblclick)="editingOrderItem[rowIndex + '-orderItemComment'] = true"
                    >
                             {{ row.orderItemComment }}
                    </span>

                    <input
                            *ngIf="editingOrderItem[rowIndex + '-orderItemComment']"
                            type="text"
                            (blur)="updateOrderItem($event,'orderItemComment',rowIndex,row)"
                            [value]="value"
                            (mouseenter)="startEditingInputText(orderItemCommentInput)"
                            (keyup.enter)="updateOrderItem($event,'orderItemComment',rowIndex,row)"
                            #orderItemCommentInput
                    >
                </ng-template>
            </ngx-datatable-column>

            <!--    Order    -->
            <ngx-datatable-column
                    name="Order"
                    prop="order.orderCode"
                    [sortable]="true"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            color="dark"
                            [routerLink]="['/orders', row.order.id]"
                    >
                        {{ row.order.orderCode }}
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Order Item Code    -->
            <ngx-datatable-column
                    name="Code"
                    prop="orderItemCode"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ion-button
                            size=""
                            [routerLink]="['/orders', row.order.id, 'orderItems', row.id]"
                    >
                        {{ row.orderItemCode }}
                    </ion-button>
                </ng-template>
            </ngx-datatable-column>

            <!--    Words    -->
            <ngx-datatable-column
                    name="Word"
                    prop="orderItemWord"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span *ngFor="let word of row.orderItemWords; let fontIndex = index"
                          [ngClass]="getFontClassCellSpan(row, fontIndex)"
                          class="span-text-center"
                    >
                        {{ word }}
                    </span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Fonts    -->
            <ngx-datatable-column
                    name="Font"
                    prop="orderItemFont"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <ng-container *ngIf="row.orderItemFonts?.length > 1">
                        <p *ngFor="let font of row.orderItemFonts; let fontIndex = index">
                            Font {{ fontIndex + 1 }}: {{ font }}
                        </p>
                    </ng-container>

                    <ng-container *ngIf="row.orderItemFonts?.length <= 1">
                        <p>
                            {{ row.orderItemFonts[0] }}
                        </p>
                    </ng-container>

                </ng-template>
            </ngx-datatable-column>

            <!--    Image    -->
            <ngx-datatable-column
                    name="Image"
                    prop="orderItemImageUrl"
            >
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template style="overflow: hidden">
                    <img
                            *ngFor="let imageUrl of row.orderItemImageUrls; let imageIndex = index"
                            [src]="imageUrl"
                    >
                </ng-template>
            </ngx-datatable-column>

            <!--    Quantity    -->
            <ngx-datatable-column
                    name="Quantity"
                    prop="orderItemQuantity"
                    [cellClass]="getQuantityClassCell">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <span class="cell-text-center">{{ row.orderItemQuantity }}</span>
                </ng-template>
            </ngx-datatable-column>

            <!--    Product    -->
            <ngx-datatable-column
                    name="Product"
                    prop="orderItemColor"
                    [cellClass]="getColorClassCell">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <strong>{{ row?.product?.productName }} </strong><br>
                    {{ row?.orderItemColor }} <br>
                    <ng-container *ngIf="isNecklace(row?.product?.productType)">
                        <strong *ngIf="row?.orderItemLengthInch">Dài: {{ row.orderItemLengthInch }} inches</strong>
                    </ng-container>

                    <ng-container *ngIf="isRing(row?.product?.productType)">
                        <strong>Size Nhẫn: {{ row?.orderItemRingSizeUS }} US</strong>
                    </ng-container>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPaginatedData($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-footer style="height: 10vh" #footer>
        </ion-footer>
    </section>

    <!--Cards-->
    <section
            *ngIf="isMobile"
    >
        <ion-grid fixed>
            <ion-row>
                <ion-col
                        sizeXl="3"
                        sizeLg="4"
                        sizeMd="6"
                        *ngFor="let orderItem of orderItemsPaginated"
                >
                    <ion-card class="ion-no-margin ion-no-padding">
                        <section>
                            <ion-img
                                    *ngIf="orderItem.orderItemImageUrl"
                                    [src]="orderItem.orderItemImageUrl"
                            ></ion-img>

                            <ion-card-header class="ion-no-padding ion-no-margin">
                                <ion-card-title class="ion-text-center">
                                    <ion-button
                                            color="tertiary"
                                            [routerLink]="['/orders', orderItem.order.id, 'orderItems', orderItem.id]"
                                            class="ion-text-wrap"
                                    >
                                        <ion-icon name="pricetag-outline" class="ion-margin-end"></ion-icon>
                                        {{ orderItem.orderItemCode }}
                                    </ion-button>
                                </ion-card-title>
                            </ion-card-header>

                            <ion-card-content class="ion-no-margin ion-no-padding">
                                <ion-list>
                                    <ion-item>
                                        <ion-label color="primary">Comment</ion-label>
                                        <ion-label slot="end"
                                                   class="ion-text-wrap">{{ orderItem.orderItemComment }}</ion-label>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label color="primary">Order</ion-label>
                                        <ion-label slot="end">
                                            <ion-button
                                                    color="primary"
                                                    [routerLink]="['/orders', orderItem.order.id]"
                                                    class="ion-text-wrap"
                                                    size=""
                                            >
                                                {{ orderItem.order.orderCode }}
                                            </ion-button>
                                        </ion-label>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label color="primary">Product</ion-label>
                                        <ion-label slot="end"
                                                   [ngClass]="getColorClass(orderItem)"
                                                   class="ion-text-wrap"
                                        >
                                            {{ orderItem.product.productName }}
                                        </ion-label>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label color="primary">Word</ion-label>
                                        <ion-text slot="end"
                                                  [ngClass]="getFontClass(orderItem)"
                                        >{{ orderItem.orderItemWord }}</ion-text>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label color="primary">Font</ion-label>
                                        <ion-label slot="end">{{ orderItem.orderItemFont }}</ion-label>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label color="primary">Quantity</ion-label>
                                        <ion-label slot="end">{{ orderItem.orderItemQuantity }}</ion-label>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label color="primary">Customer</ion-label>
                                        <ion-label slot="end">
                                            {{ orderItem.customer }}
                                        </ion-label>
                                    </ion-item>

                                    <ion-item *ngIf="orderItem.orderItemRingSizeUS">
                                        <ion-label color="primary">Ring Size US</ion-label>
                                        <ion-label slot="end">{{ orderItem.orderItemRingSizeUS }}</ion-label>
                                    </ion-item>

                                    <ion-item *ngIf="orderItem.orderItemLengthInch">
                                        <ion-label color="primary">Length Inch</ion-label>
                                        <ion-label slot="end">{{ orderItem.orderItemLengthInch }}</ion-label>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </section>

                        <section>
                            <ion-item>
                                <ion-button
                                        [routerLink]="['/orders', orderItem.order.id, 'orderItems', orderItem.id, 'edit']"
                                        color="secondary"
                                >
                                    <ion-icon name="settings-outline" class="ion-margin-end"></ion-icon>
                                    Edit
                                </ion-button>

                                <ion-button
                                        (click)="alertService.presentDeleteConfirm(orderItem)"
                                        color="danger"
                                        slot="end"
                                >
                                    <ion-icon name="trash-bin-outline" class="ion-margin-end"></ion-icon>
                                    Delete
                                </ion-button>
                            </ion-item>
                        </section>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPaginatedData($event)">
            <ion-infinite-scroll-content
                    loadingSpinner="bubbles"
                    loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <ion-footer style="height: 10vh" #footer>
        </ion-footer>
    </section>
</ion-content>


